<div id="nav-border" class="container">
  <nav id="nav" class="navbar justify-content-center navbar-expand-lg navbar-light bg-light">
    {{ if .Site.Params.logo }}
    <a class="navbar-brand" href="/#">
      <img src="{{ .Site.Params.logo.url | relURL }}"
           width="{{ .Site.Params.logo.width }}"
           height="{{ .Site.Params.logo.height }}"
           alt="{{ .Site.Params.logo.alt }}">
    </a>
    {{ end }}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">

      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ .URL }}" id="{{ .Identifier }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ .Pre }}<span>{{ .Name }}</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="{{ .Identifier }}">
            {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL }}">{{ .Pre }}<span>{{ .Name }}</span></a>
            {{ end }}
            </div>
          </li>
        {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL }}">{{ .Pre }}<span>{{ .Name }}</span></a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
  </nav>
</div>